html {
    box-sizing: border-box;
    height: 100%;
    font-family: 'MedievalSharp', cursive;
    font-weight: 800;
}
 *, *:before, *:after {
    box-sizing: inherit;
}

.background {
    background: url(../assets/backgroundCity1.png) no-repeat;
    height: 100vh;
    width: 100vw;
}

.inputHidden {
    display: none;
}

.play, .newWord {
    background: url(../assets/sign.png);
    background-size: 150% 150%;
    border: none;
    border-radius: .5rem;
    color: rgb(240, 230, 220);
    font-family: 'MedievalSharp', cursive;
    font-size: 1.5rem;
    height: 7.5vh;
    margin-top: 50vh;
    margin-left: 40vw;
    position: absolute;
    transition: 300ms ease-in-out;
    width: 20vw;
}

.newWord {
    display: block;
    margin-top: 60vh;
}

.newWord:hover, .play:hover {
    color: rgb(255, 255, 255);
    cursor: pointer;
    transform:scale(1.25);
}

/**/
.woodLetter {
    background: url(../assets/woodsLetter.png);
    background-size: 100% 100%;
    color: rgb(160, 100, 50);
    display: none;
    height: 20vh;
    margin-left: 30vw;
    margin-top: 70vh;
    position: absolute;
    text-align: center;
    width: 40vw;
}

.wordLetter {
    color: transparent;
    display: inline;
    font-size: 2.5rem;
}

.dashesLetter {
    display: inline;
    font-size: 2.5rem;
    
}

.wordContainer {
    display: block;
    font-size: 1.75rem;
    margin-top: 4vh;
}

#dashesContainer {
    margin-top: 1vh;
}

.finish, .inputContainer {
    background: url(../assets/finish.png) no-repeat;
    background-size: 100% 100%;
    color: rgb(160, 100, 50);
    display: none;
    height: 60%;
    margin-left: 30vw;
    position: absolute;
    text-align: center;
    width: 40%;
}

.finish {
    animation: leftToRight 2.5s 1;
}

@keyframes leftToRight {
0%   {left: 0px; top: 0px; rotate: 45deg;}
50%  {left: 200px; top: 0px; rotate: -45deg}
100%  {left: 0px; top: 0px;rotate: 0deg}
}

.finishText {
    margin-left: -3.5vw;
    margin-top: 25vh;
    font-size: 2rem;
    position: inherit;
}

.correctWord {
    display: block;
    font-size: 1.75rem;
    margin-top: 35vh;
}

.btnContinue, .btnContinueNewWord {
    background: url(../assets/sign.png);
    background-size: 100% 100%;
    border: none;
    color: rgb(160, 100, 50);
    display: block;
    font-size: 1.75rem;
    font-family: 'MedievalSharp', cursive;
    font-weight: 800;
    height: 10vh;
    margin: 0 auto;
    margin-top: 7.5vh;
    transition: 300ms ease-in-out;
    width: 15vw;
}

.btnContinue:hover, .btnContinueNewWord:hover {
    color: rgb(255, 255, 255);
    cursor: pointer;
    transform:scale(1.25);
}

.btnContinueNewWord {
    margin-top: 9vw;
}

.inputContainer {
    background: url(../assets/woodsLetter.png);
    background-size: 100% 100%;
    display: none;
    margin-top: 7vh;
}

.advise {
    font-size: 1.75rem;
    margin-top: 7.5vh;
}

.input {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid brown;
    display: block;
    font-family: 'MedievalSharp', cursive;
    font-size: 2rem;
    font-weight: 800;
    height: 2.2rem;
    margin: 0 auto;
    margin-top: 7.5vh;
    outline: none;
    width: 30vw;
}

.btnGoBack {
    background: url(../assets/goBack.png) no-repeat;
    background-color: rgb(160, 100, 50);
    background-position:center;
    background-size: 15px 15px;
    border: 2px solid #f69c55;
    border-radius: 30px;
    display: none;
    height: 7.5vh;
    margin-left: 4vh;
    margin-top: 12.5vh;
    position: absolute;
    transition: 300ms ease-in-out;
    width: 7.5vh;
}

.btnGoBack:hover {
    box-shadow: 2.5px 2.5px 2.5px 0px rgba(0,0,0,0.25);
    cursor: pointer;
    color: #f69c55;
    transform: scale(1.3);
}

.livesCounter {
    background: url(../assets/sign.png);
    background-size: 100% 100%;
    display: none;
    height: 4rem;
    margin-left: 60%;
    margin-top: 2%;
    position: absolute;
    text-align: center;
    width: 5rem;
}

.livesText {
    margin: .75vh 0;
}

.lives {
    color: darkred;
    font-size: 2rem;
}

.keyboardContainer {
    background: url(../assets/keyboard.png);
    background-size: 100% 100%;
    display: none;
    height: 5rem;
    margin-left: 15vw;
    margin-top: 40vh;
    width: 5rem;
    position: absolute;
}

.keyboardContainer:hover {
    filter: invert(1);
}

.keyboard {
    background: none;
    border: none;
    color: transparent;
    height: 5rem;
    outline: none;
    user-select: none;
    width: 5rem;
}

.github, .portfolio {
    display: block;
    height: 6vh;
    margin-left: 1vw;
    position: absolute;
    transition: 300ms ease-in-out;
    width: 3vw;
}

.github {
    margin-top: 40vh;
}

.portfolio {
    margin-top: 50vh;
}

.github:hover, .portfolio:hover {
    cursor: pointer;
    transform:scale(1.25);
}

/* MQ */

@media screen and (max-width: 768px) {
    .background {
        background: url(../assets/backgroundCity1.png) contain;
        background-size: 100% 100%;
    }

    .play, .newWord {
        height: 12vh;
        margin-left: 25vw;
        width: 50vw;
    }

    .newWord {
        margin-top: 65vh;
    }

    .inputContainer {
        margin-left: 20vw;
        width: 60%;
    }

    .input {
        width: 45vw;
        margin-bottom: 20vw;
    }

    .btnContinueNewWord {
        width: 24vw;
    }

    .woodLetter {
        height: 25vh;
        margin-left: 10vw;
        width: 80vw;
    }

    .wordContainer {
        margin-top: 3vh;
    }

    #dashesContainer {
        margin: -.5vh 3vw;
    }

    .btnGoBack {
        height: 7vh;
        margin-left: 2vw;
        width: 7vh;
    }

    .finish {
        margin-left: 10vw;
        width: 80vw;
    }

    .finishText {
        margin-left: -14vw;
    }

    .btnContinue {
        margin-top: 2vh;
        width: 40vw;
    }

    .keyboardContainer, .keyboard {
        height: 4rem;
        width: 4rem;
    }

    .github, .portfolio {
        height: 5vh;
        width: 5vw;
    }
}

@media screen and (max-width: 375px) {
    .background {
        background: url(../assets/backgroundCity1.png) no-repeat;
        background-size: 100% 100%;
    }

    .play, .newWord {
        height: 10vh;
        margin-left: 20vw;
        width: 60vw;
    }

    .inputContainer {
        margin-left: 5vw;
        width: 90%;
    }

    .input {
        font-size: 1.5rem;
        margin-bottom: 20vw;
        width: 75vw;
    }

    .btnContinueNewWord {
        width: 45vw;
    }

    .woodLetter {
        font-size: 5rem;
        height: 30vh;
        margin-left: 10vw;
        width: 85vw;
    }

    .btnGoBack {
        height: 5vh;
        margin-left: 2vw;
        width: 5vh;
    }

    .finish {
        margin-left: 14vw;
        width: 76vw;
    }

    .finishText {
        margin-left: -15vw;
    }

    .btnContinue {
        width: 40vw;
    }

    .keyboardContainer, .keyboard {
        height: 3rem;
        width: 3rem;
    }

}